body {
    margin: 0;
    font-family: "Titillium Web", sans-serif;
    font-size: 1.2rem;
    background-color: #efefef !important;
}

.bg--light {
  background-color: #efefef;
}

.bg--darkgrey{
  background-color: #c2cad0;
}

h1 {
  font-size: 3rem;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #333;
    div {
        font-size: 20px;
    }
}

.container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.navbar-div {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    margin: 0;
}

.card-container {
    display: flex;
    height: calc(90vh - 20px);
    flex-direction: row;
}

#hopeAnimate {
    animation-name: example;
    animation-duration: 4s;
    font-size: 6rem;
    left: 300px;
    top: 40%;
    position: relative;
}

@keyframes example {
    0% {
        left: -200px;
        top: 40%;
        font-size: 12rem;
    }
    100% {
        left: 300px;
        top: 40%;
        font-size: 6rem;
    }
}

.review-listing {
    background-color: lightgrey;
    height: 30vh;
    text-align: center;
}

.container--block {
  margin-bottom: 2rem;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

@mixin direction($direction: column) {
  display: flex;
  flex-direction: $direction;
}

.split {
  @include direction
}

.split--introduction {
  @include direction($direction: column-reverse);
}

#home-content {
  padding-top: 2rem;
}

@media (min-width: 40em) {
  .split, .split--introduction {
    flex-direction: row;
  }

  .split, .split--introduction > * {
    flex-basis: 100%;
  }

  .home-content {
      padding-top: unset;
  }

}

.split > * {
  margin-right: 3rem;
}

.card-title {
  font-size: 4rem;
  font-family: 'Anton', sans-serif;
}

.card-title-with-description {
  font-size: 2rem;
  font-weight: bold;
}

.tagline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introduction--desc {
  font-weight: bold;
}
