body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.2rem;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #333;

  div {
    font-size: 20px;
  }
}

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.navbar-div {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  margin: 0;
}

.card-container {
  display: flex;
  height: calc(90vh - 20px);
  flex-direction: row;
}

